@model HRPortal.Models.ApplicationInformation

@{
    ViewBag.Title = "Create";
}

<h2>Application for SG Corp.</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-vertical">
        <hr />
        <h4 class="personal">Personal Information</h4>
        <hr />
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-inline">
            @*TODO make hidden*@
            @Html.HiddenFor(model => model.ResumeId, htmlAttributes: new {@class = "control-label col-md-2"})
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.FirstName, "First Name", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.LastName, "Last Name", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.StreetAddress, "Street Address", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.StreetAddress, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.StreetAddress, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.City, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.City, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.State, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.State, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.State, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.ZipCode, "Zip Code", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZipCode, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ZipCode, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.PhoneNumber, "Phone Number", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.Position, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Position, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Position, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.DesiredSalary, "Desired Salary", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.DesiredSalary, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.DesiredSalary, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.DateOfApplication, "Date Of Application", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfApplication, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.DateOfApplication, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>


    <div class="form-horizontal">
        <hr />
        <h4 class="education">Education History</h4>
        <hr />
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-inline">
            @Html.LabelFor(model => model.SchoolName, "School Name", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.SchoolName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.SchoolName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.Major, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Major, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Major, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.GraduationDate, "Graduation Date", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.GraduationDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.GraduationDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.GPA, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.GPA, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.GPA, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.Awards, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Awards, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Awards, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>


    <div class="form-horizontal">
        <hr/>
        <h4 class="employment">Employment History</h4>
        <hr />
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-inline">
            @Html.LabelFor(model => model.EmployerName, "Employer Name", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployerName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.EmployerName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.StartDate, "Start Date", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.EndDate, "End Date", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.JobTitle, "Job Title", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobTitle, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.JobTitle, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.Responsibilities, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Responsibilities, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Responsibilities, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Application" class="btn btn-default" />
            </div>
        </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
